{
    "plugins": [
        "prettier-plugin-blade",
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ],
    "importOrder": [
        "<BUILTIN_MODULES>",
        "<THIRD_PARTY_MODULES>",
        "<TYPES>",
        "^@/types/(.*)$",
        "^@/Stores/(.*)$",
        "^@/Layouts/(.*)$",
        "^@/Forms/(.*)$",
        "^@/Components/(.*)$",
        "^@/Icons/(.*)$",
        "^@/Utilities/(.*)$",
        "^@/Images/(.*)$",
        "^[./]"
    ],
    "bracketSpacing": false,
    "singleQuote": true,
    "printWidth": 100
}
